.jumbotron
  %h1 
    Start in IT
  %p
    This will be the homepage for the backend interface of <b>Start in IT</b>, an Android app developed for the course LFSAB1509 at the Louvain School of Engineering in Belgium.
  %p
    = link_to 'Learn more', 'http://www.bitbucket.org/nlaurent/lfsab1509-group09-start-in-it', class: 'btn btn-primary btn-lg'
    = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg'
    = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-lg'